/*!
global > color
--------------------------------------
*/
:root {
    --color-bg-primary: #FCF9F2;
    --color-bg-secondary: #11361F;
    --color-bg-primary-light: #FFFFFF;
    --color-border-primary: #11361F;
    --color-font-primary: #11361F;
    --color-font-black: #333333;
    --color-font-white: #FFFFFF;
}