/*!
global > font
-----------------------------
*/
:root {
    --font-family-base: 'Noto Sans JP', sans-serif;
    --font-family-english: 'Oswald', sans-serif;
    --font-family-copyright: 'Noto Serif JP', serif;
}