@use "../global" as g;

/*!
foundation > base
--------------------------
*/
body {
    color: var(--color-font-base);
    background-color: var(--color-bg-primary);
    font-family: var(--font-family-base);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;

    @include g.mq() {
        font-size: 16px;
    }
}